<form>
    <label>
        Name:
    </label>
    <input type="text" name="name" placeholder="New pickorder">
    <label>
        Colours:
    </label>
    <input type="checkbox" name="colors" value="W"> White
    <input type="checkbox" name="colors" value="U"> Blue
    <input type="checkbox" name="colors" value="B"> Black
    <input type="checkbox" name="colors" value="R"> Red
    <input type="checkbox" name="colors" value="G"> Green
    <input type="checkbox" name="colors" value="A"> Artifact
    <input type="checkbox" name="colors" value="L"> Land
    <label>
        Rarities:
    </label>
    <input type="checkbox" name="rarities" value="C"> Common
    <input type="checkbox" name="rarities" value="U"> Uncommon
    <input type="checkbox" name="rarities" value="R"> Rare
    <input type="checkbox" name="rarities" value="M"> Mythic Rare
    <button type="submit">Create</button>
</form>